# Ejercicio de repaso: BBDD Relacionales

Ejercicio sacado directamente de una entrevista de trabajo para una conocida compañía de retail.

![tablas1](img/Tablas-1.png)
![tablas3](./img/Tablas-3.png)

## 1. Crea un DataFrame por cada tabla

In [98]:
import numpy as np
import pandas as pd

In [99]:
familias = {"ID_DPTO": ["1", "1", "2", "3" ,"3","4" ],
            "COD_FAMILIA": ["1F1","1F1", "2F1", "3F1", "3F2", "4F1" ],
            "DESC_FAMILIA": ["Pulseras", "Anillos", "Bolso de mano", "Nautico", "Sandalias", "Bermudas"]}
df_familias = pd.DataFrame(familias)
print(df_familias)

  ID_DPTO COD_FAMILIA   DESC_FAMILIA
0       1         1F1       Pulseras
1       1         1F1        Anillos
2       2         2F1  Bolso de mano
3       3         3F1        Nautico
4       3         3F2      Sandalias
5       4         4F1       Bermudas

In [100]:
departamento = {"ID_DPTO": ["1","2", "3", "4"],
                "DESC_DPTO": ["Joyeria", "Bolsos", "Zapatería", "BAÑO CAB" ] }
df_departamento = pd.DataFrame(departamento)
print(df_departamento)

  ID_DPTO  DESC_DPTO
0       1    Joyeria
1       2     Bolsos
2       3  Zapatería
3       4   BAÑO CAB

In [101]:
articulos = {"REFERENCIA":["A","B", "C", "D", "E", "F", "G", "H" ],
            "ID_DPTO": ["1",  "2", "2", "2", "2", "3", "3", "4"],
            "COD_FAMILIA": ["1F1", "2F1", "2F1", "2F1", "2F1", "3F1", "3F2", "4F1"],
            "FECHA_ALTA": ["21/02/2010", "07/02/2014", "15/05/2014", "01/10/2005", "31/10/2010","20/04/2001", "14/02/2015", "25/03/2009" ] }
df_articulos = pd.DataFrame(articulos)
print(df_articulos)

  REFERENCIA ID_DPTO COD_FAMILIA  FECHA_ALTA
0          A       1         1F1  21/02/2010
1          B       2         2F1  07/02/2014
2          C       2         2F1  15/05/2014
3          D       2         2F1  01/10/2005
4          E       2         2F1  31/10/2010
5          F       3         3F1  20/04/2001
6          G       3         3F2  14/02/2015
7          H       4         4F1  25/03/2009

In [102]:
campanias = {'ID_CAMPANIA': ['CA1','CA2','CA3','CA4','CA5','CA6'],
            'TIPO': ['VENTA','VENTA','POSVENTA','VENTA','POSVENTA','POSVENTA'],
            'FECHA_CAMP': ['5/02/2012', '4/2/2012', '2/10/2009', '6/5/2010', '31/11/2010', '7/2/2015']}
df_campanias= pd.DataFrame(campanias)
print(df_campanias)

  ID_CAMPANIA      TIPO  FECHA_CAMP
0         CA1     VENTA   5/02/2012
1         CA2     VENTA    4/2/2012
2         CA3  POSVENTA   2/10/2009
3         CA4     VENTA    6/5/2010
4         CA5  POSVENTA  31/11/2010
5         CA6  POSVENTA    7/2/2015

In [122]:
depto_campania = {'ID_DPTO': ["1","1","2","3","3","3","4","4","4","4"],
                    'ID_CAMPANIA': ['CA1','CA4','CA2','CA2','CA5','CA6','CA1','CA2','CA3','CA6']}
df_depto_campania=pd.DataFrame(depto_campania)
print(df_depto_campania)

  ID_DPTO ID_CAMPANIA
0       1         CA1
1       1         CA4
2       2         CA2
3       3         CA2
4       3         CA5
5       3         CA6
6       4         CA1
7       4         CA2
8       4         CA3
9       4         CA6

In [104]:
ventas = {'TALON': ['01','02','03','04','05','06','07','08'],
            'REFERENCIA': ['A','A','A','D','E','E','H','H'],
            'PRECIO': [15,18,14,37.95,125.95,150,22.99,24],
            'FECHA_VENTA': ['11/2/2012','15/2/2012','2/10/2013','6/8/2010','31/11/2010','5/2/2011','11/4/2010','8/8/2011']}
df_ventas=pd.DataFrame(ventas)
print(df_ventas)

  TALON REFERENCIA  PRECIO FECHA_VENTA
0    01          A   15.00   11/2/2012
1    02          A   18.00   15/2/2012
2    03          A   14.00   2/10/2013
3    04          D   37.95    6/8/2010
4    05          E  125.95  31/11/2010
5    06          E  150.00    5/2/2011
6    07          H   22.99   11/4/2010
7    08          H   24.00    8/8/2011

In [ ]:
df_articulos["FECHA_ALTA"].timestamp
df_campanias["FECHA_CAMP"].timestamp
df_ventas["FECHA_VENTA"].timestamp

## 2. Genera una consulta que obtenga la lista ordenada de todas las referencias sin venta

In [105]:
referencias_en_ventas = df_ventas["REFERENCIA"].unique()
referencias_sin_venta=df_articulos[~df_articulos.REFERENCIA.isin(referencias_en_ventas)]["REFERENCIA"].unique()
referencias_sin_venta

array(['B', 'C', 'F', 'G'], dtype=object)

## 3. Genera una consulta que obtenga las ventas comprendidas entre 2010 y 2011 (ambos incluidos), que estén asociados a una campaña de tipo VENTA y que sean del departamento de JOYERÍA.

In [114]:
df_venta_art_joyeria = df_articulos.merge(df_departamento).merge(df_ventas)
df_venta_art_joyeria = df_art[df_art.DESC_DPTO == "Joyeria"]

df_camp_joyeria = df_campanias.merge(df_depto_campania).merge(df_departamento)
df_camp_joyeria = df_camp_joyeria[df_camp_joyeria.DESC_DPTO == "Joyeria"]
fechas_campanias_joyeria = df_camp_joyeria["FECHA_CAMP"].unique()

df_venta_art_joyeria[df_venta_art_joyeria.FECHA_VENTA.isin(fechas_campanias_joyeria)]

Empty DataFrame
Columns: [REFERENCIA, ID_DPTO, COD_FAMILIA, FECHA_ALTA, DESC_DPTO, TALON, PRECIO, FECHA_VENTA, CLASIFICACION]
Index: []

## 4. Genere una consulta que cree un campo “co_ranking” que clasifique en orden ascendente las campañas según el total de venta, siendo 1 la campaña que más ha vendido y N la que menos. (N = Total de campañas)

In [135]:
df_campanias_con_ventas=df_campanias[df_campanias.TIPO == "VENTA"]
df_campanias_con_ventas

df_ventas_en_campanias = df_campanias_con_ventas.merge(df_depto_campania).merge(df_articulos).merge(df_ventas)
df_ventas_en_campanias = df_ventas_en_campanias[df_ventas_en_campanias.FECHA_VENTA == df_ventas_en_campanias.FECHA_CAMP]

df_ranking_campania = df_ventas_en_campanias.groupby("ID_CAMPANIA").sum()
df_ranking_campania

df_ranking_campania=df_ranking_campania.sort_values(by="PRECIO")

df_ranking_campania["CO_RANKING"] = df_ranking_campania.apply (lambda fila: index+1, axis=1)
#print(df_ranking_campania)
df_ranking_campania

Empty DataFrame
Columns: [PRECIO, CO_RANKING]
Index: []

## 5. Clasifique todas las ventas en Mayor, Igual o Menor precio respecto a la media de los precios de todas las ventas realizadas.

**Resultado**:


![tablares](img/Tablas-4.png)

In [75]:
media=df_ventas["PRECIO"].mean()
print(media)
def Clasificacion (fila,media):
    if fila["PRECIO"]<media:
         return "Menor"
    elif fila["PRECIO"]==media:
        return "Igual"
    else:
        return "Mayor"
    
df_ventas["CLASIFICACION"]=df_ventas.apply (lambda fila: Clasificacion (fila,media), axis=1)
print (df_ventas)

talon_precio=df_ventas.iloc[:,0:5:2]
print(talon_precio)

50.98625
  TALON REFERENCIA  PRECIO FECHA_VENTA CLASIFICACION
0    01          A   15.00   11/2/2012         Menor
1    02          A   18.00   15/2/2012         Menor
2    03          A   14.00   2/10/2013         Menor
3    04          D   37.95    6/8/2010         Menor
4    05          E  125.95  31/11/2010         Mayor
5    06          E  150.00    5/2/2011         Mayor
6    07          H   22.99   11/4/2010         Menor
7    08          H   24.00    8/8/2011         Menor
  TALON  PRECIO CLASIFICACION
0    01   15.00         Menor
1    02   18.00         Menor
2    03   14.00         Menor
3    04   37.95         Menor
4    05  125.95         Mayor
5    06  150.00         Mayor
6    07   22.99         Menor
7    08   24.00         Menor

# 7. Genere una consulta que para cada campaña de tipo “venta” obtenga el talón medio, precio medio, nº de referencias compradas y nº de talones con venta superior al talón medio.

In [156]:
df_ventas_en_campanias

df_ventas_en_campanias.groupby("ID_CAMPANIA").mean()

df_ventas_en_campanias.groupby("ID_CAMPANIA").count()

Empty DataFrame
Columns: [ID_CAMPANIA, TIPO, FECHA_CAMP, ID_DPTO, REFERENCIA, COD_FAMILIA, FECHA_ALTA, TALON, PRECIO, FECHA_VENTA, CLASIFICACION]
Index: []

## 8. Genere una o varias consultas que devulevan las combinaciones de familias y campañas cuya venta haya sido superior a 100€.

In [164]:
df_familias_campanias=df_familias.merge(df_depto_campania).merge(df_campanias).merge(df_articulos)
df_familias_campanias

df_ventas_mayor_100=df_ventas[df_ventas["PRECIO"]>100]
df_ventas_mayor_100

df_familias_campanias_ventas_mayor_100=df_ventas_mayor_100.merge(df_familias_campanias)
df_familias_campanias_ventas_mayor_100[["PRECIO","ID_DPTO","COD_FAMILIA"]]

   PRECIO ID_DPTO COD_FAMILIA
0  125.95       2         2F1
1  150.00       2         2F1

## 9. Genere una o varias consultas que permitan catalogar los artículos vendidos y que no son de la Campaña CA1, según si se tratan de artículos de Ropa o Accesorios. En base a los departamentos y familias. NOTA: Se valorará la elaboración de la consulta y no la veracidad del propio catálogo)

## 10. Genere una o varias consultas que devuelvan la variación del total de venta entre años. Tomando como variación la siguiente fórmula $$\dfrac{Year_{n} – Year_{n-1}}{Year_{n-1}}$$ (Se valorará el control de valores 0 en la división o de indeterminaciones)

![tablas5](img/Tablas-5.png)