In [1]:
from getpass import getpass
from mysql.connector import connect, Error

In [2]:
try:
    conn = connect(
                    host="localhost",
                    user=input("Enter username: "),
                    password=getpass("Enter password: "),
                    database="chinook")
         
    print('SUCCESSFUL\n\n')
except Error as e:
    print(e)

Enter username: root
Enter password: ········
SUCCESSFUL

In [3]:
conn

In [4]:
cursor = conn.cursor()
cursor.execute("CREATE DATABASE eci")

In [5]:
conn.close()

In [6]:
try:
    conn = connect(
                    host="localhost",
                    user=input("Enter username: "),
                    password=getpass("Enter password: "),
                    database="eci")
         
    print('SUCCESSFUL\n\n')
except Error as e:
    print(e)

Enter username: root
Enter password: ········
SUCCESSFUL

In [7]:
cursor = conn.cursor()

In [8]:
cursor.execute("CREATE TABLE FAMILIA (ID_DPTO INT, COD_FAMILIA VARCHAR(255), DESC_FAMILIA VARCHAR(255))")

In [16]:
cursor.execute("CREATE TABLE DEPARTAMENTO (ID_DPTO INT, DESC_DPTO VARCHAR(255))")

In [ ]:
cursor.execute("CREATE TABLE ARTICULO (REFERENCIA VARCHAR(255),ID_DPTO INT, COD_FAMILIA VARCHAR(255), FECHA_ALTA DATE)")

In [15]:
cursor.execute("CREATE TABLE CAMPANIA (ID_CAMPANIA VARCHAR(255),TIPO VARCHAR(255),FECHA_CAMP DATE)")

In [14]:
cursor.execute("CREATE TABLE DEPTO_CAMPANIA (ID_DPTO INT, ID_CAMPANIA VARCHAR(255))")

In [13]:
cursor.execute("CREATE TABLE VENTAS (TALON VARCHAR(255),REFERENCIA VARCHAR(255), PRECIO FLOAT, FECHA_VENTA DATE)")

In [18]:
cursor.execute ("ALTER TABLE FAMILIA ADD PRIMARY KEY (ID_DPTO,COD_FAMILIA)")

In [19]:
cursor.execute ("ALTER TABLE DEPARTAMENTO ADD PRIMARY KEY (ID_DPTO)")

In [20]:
cursor.execute ("ALTER TABLE ARTICULO ADD PRIMARY KEY (REFERENCIA)")

In [22]:
cursor.execute ("ALTER TABLE CAMPANIA ADD PRIMARY KEY (ID_CAMPANIA)")

In [24]:
cursor.execute ("ALTER TABLE DEPTO_CAMPANIA ADD PRIMARY KEY (ID_DPTO,ID_CAMPANIA)")

In [25]:
cursor.execute ("ALTER TABLE VENTAS ADD PRIMARY KEY (TALON)")