# Ejercicios de Estadística Descriptiva

## Univariante

# Ejercicio 1

Las cifras dadas en la tabla adjunta corresponden a miligramos de hidroxiprolina absorbidos por 1 miligramo de masa intestinal, analizados en distintos pacientes:

| hidroxipolina (mg) | 77.3 | 61.2 | 82.4 | 75.9 | 61 | 70.2 | 65 | 80 |
|--------------------|------|------|------|------|----|------|----|----|
| nº pacientes       | 3    | 10   | 15   | 13   | 8  | 5    | 2  | 0  |

Se pide:

1. Confeccionar la tabla de frecuencias.
2. Calcular la media, mediana, moda y cuartiles.
3. Calcular la desviación típica de la muestra.
4. ¿Qué porcentaje de observaciones se concentra en el intervalo $(x −5\sigma,x +5\sigma)$?

In [6]:
import numpy as np
import pandas as pd

In [7]:
hidroxipolina=[61,61.2,65,70.2,75.9,77.3,80,82.4]
num_pacientes=[8,10,2,5,13,3,0,15]

In [8]:
freq=pd.DataFrame({"x_i":hidroxipolina,"n_i":num_pacientes})
freq

    x_i  n_i
0  61.0    8
1  61.2   10
2  65.0    2
3  70.2    5
4  75.9   13
5  77.3    3
6  80.0    0
7  82.4   15

In [9]:
freq["N_i"]=freq["n_i"].cumsum()
freq

    x_i  n_i  N_i
0  61.0    8    8
1  61.2   10   18
2  65.0    2   20
3  70.2    5   25
4  75.9   13   38
5  77.3    3   41
6  80.0    0   41
7  82.4   15   56

In [10]:
freq["f_i"]=freq['n_i'] / freq['n_i'].sum()
freq

    x_i  n_i  N_i       f_i
0  61.0    8    8  0.142857
1  61.2   10   18  0.178571
2  65.0    2   20  0.035714
3  70.2    5   25  0.089286
4  75.9   13   38  0.232143
5  77.3    3   41  0.053571
6  80.0    0   41  0.000000
7  82.4   15   56  0.267857

In [11]:
freq['F_i'] = freq['f_i'].cumsum()
freq

    x_i  n_i  N_i       f_i       F_i
0  61.0    8    8  0.142857  0.142857
1  61.2   10   18  0.178571  0.321429
2  65.0    2   20  0.035714  0.357143
3  70.2    5   25  0.089286  0.446429
4  75.9   13   38  0.232143  0.678571
5  77.3    3   41  0.053571  0.732143
6  80.0    0   41  0.000000  0.732143
7  82.4   15   56  0.267857  1.000000

In [17]:
Media=(freq['x_i'] * freq['n_i']).sum() / freq['N_i'].iloc[-1]
Media

72.06428571428572

In [12]:
Mediana=freq[freq['F_i'] >= 0.5].iloc[0, 0]
Mediana

75.9

In [13]:
Moda=freq['x_i'][freq['n_i']==freq['n_i'].max()].values
Moda

array([82.4])

In [14]:
Primer_cuartil=freq[freq['F_i'] >= 0.25].iloc[0, 0]
Primer_cuartil

61.2

In [15]:
Tercer_cuartil=freq[freq['F_i'] >= 0.75].iloc[0, 0]
Tercer_cuartil

82.4

In [18]:
desviaciones = ((freq['x_i'] - Media)** 2) * freq['n_i']
Varianza = desviaciones.sum() / freq['N_i'].iloc[-1]
Varianza

74.15658163265309

In [19]:
Desviacion_tipica = Varianza ** 0.5
Desviacion_tipica

8.611421580241737

In [20]:
prob=1-1/5**2
print(f"El {prob:-2%} de las observaciones que hagamos estarán en {Media} más menos 5 veces {Desviacion_tipica}")

El 96.000000% de las observaciones que hagamos estarán en 72.06428571428572 más menos 5 veces 8.611421580241737

# Multivariante

# Ejercicio 2

Los valores del pH sanguíneo de 32 individuos son los siguientes:

|7.33 |7.31 |7.26 |7.33 |7.37 |7.27 |7.30 |7.33|
|-----|-----|-----|-----|-----|-----|-----|----|
|7.33 |7.32 |7.35 |7.39 |7.33 |7.38 |7.33 |7.31|
|7.37 |7.35 |7.34 |7.32 |7.29 |7.35 |7.38 |7.32|
|7.32 |7.33 |7.32 |7.40 |7.33 |7.32 |7.34 |7.33|

1. Agrupar los datos en 5 intervalos y confeccionar la tabla de frecuencias.
2. Calcular la media aritmética, la moda y la mediana.
3. Hallar el tercer decil.
4. Determinar el porcentaje de individuos que se concentra fuera del intervalo $(x −4\sigma,x +4\sigma)$

In [19]:
import numpy as np
import pandas as pd

In [51]:
ls_data=[7.33,7.31,7.26,7.33,7.37,7.27,7.30,7.33,7.33,7.32,7.35,7.39,7.33,7.38,7.33,7.31,7.37,7.35,7.34,7.32,7.29,7.35,7.38,7.32,7.32,7.33,7.32,7.40,7.33,7.32,7.34,7.33]

df_sample = pd.DataFrame(ls_data)
df_sample.value_counts().sort_index()

7.26    1
7.27    1
7.29    1
7.30    1
7.31    2
7.32    6
7.33    9
7.34    2
7.35    3
7.37    2
7.38    2
7.39    1
7.40    1
dtype: int64

In [52]:
max(ls_data)

7.4

In [53]:
min(ls_data)

7.26

In [54]:
size = (max(ls_data) - min(ls_data)) / 5
size

0.028000000000000115

In [90]:
out, bins = pd.cut(df_sample[0], 5, retbins=True)

print(bins)
print(bins[1:])

[7.25986 7.288   7.316   7.344   7.372   7.4    ]
[7.288 7.316 7.344 7.372 7.4  ]

In [91]:
intervals = list(zip(bins, bins[1:]))
print(ls_aux)
c_i = [(x + y)/2 for x, y in ls_aux]
print(c_i)

[(7.25986, 7.288), (7.288, 7.316), (7.316, 7.344), (7.344, 7.372), (7.372, 7.4)]
[7.27393, 7.302, 7.33, 7.3580000000000005, 7.386]

In [92]:
df_freq = pd.DataFrame({'l_i':intervals, 'c_i':c_i})
df_freq

                l_i      c_i
0  (7.25986, 7.288)  7.27393
1    (7.288, 7.316)  7.30200
2    (7.316, 7.344)  7.33000
3    (7.344, 7.372)  7.35800
4      (7.372, 7.4)  7.38600

In [93]:
d_intervals = dict(zip(intervals, [0] * len(intervals)))
for num in ls_data:
    for inter in intervals:
        if inter[0] <= num < inter[1]:
            d_intervals[inter] += 1


d_intervals

{(7.25986, 7.288): 2,
 (7.288, 7.316): 4,
 (7.316, 7.344): 17,
 (7.344, 7.372): 5,
 (7.372, 7.4): 3}

In [96]:
df_freq['n_i'] = df_freq['l_i'].map(d_intervals)

N = df_freq['n_i'].sum()

In [97]:
df_freq['f_i'] = df_freq['n_i'] / N
df_freq['F_i'] = df_freq['f_i'].cumsum()
df_freq

                l_i      c_i  n_i       f_i       F_i
0  (7.25986, 7.288)  7.27393    2  0.064516  0.064516
1    (7.288, 7.316)  7.30200    4  0.129032  0.193548
2    (7.316, 7.344)  7.33000   17  0.548387  0.741935
3    (7.344, 7.372)  7.35800    5  0.161290  0.903226
4      (7.372, 7.4)  7.38600    3  0.096774  1.000000

In [99]:
media=df_sample.mean()
media

0    7.332812
dtype: float64

In [100]:
moda=df_sample.mode()
moda

      0
0  7.33

In [101]:
mediana=df_sample.median()
mediana

0    7.33
dtype: float64

In [103]:
tercer_decil=df_freq[df_freq['F_i'] >= 0.3].iloc[0, 0]
tercer_decil

(7.316, 7.344)

# Ejercicio 3

En pacientes con distrofia muscular progresiva (enfermedad de Duchenne), la actividad de creatinquinasa sérica se eleva llamativamente sobre el valor normal de 50 unidades por litro. Los siguientes
datos son niveles séricos de creatinquinasa (en unidades por litro) medidos en 24 jóvenes pacientes con la enfermedad confirmada:

|3720 |3795 |3340 |5600 |3800 |3580|
|-----|-----|-----|-----|-----|----|
|5500 |2000 |1570 |2360 |1500 |1840|
|3725 |3790 |3345 |3805 |5595 |3575|
|1995 |5505 |2055 |1575 |1835 |1505|

Se pide:

1. Agrupar los datos en 5 intervalos de clase.
2. Determinar la media y la desviación típica. Calcular la moda y la mediana.
3. Determinar el tercer cuartil, el séptimo decil y el centil 25.

In [104]:
import numpy as np
import pandas as pd

In [105]:
ls_data=[3720,3795,3340,5600,3800,3580,5500,2000,1570,2360,1500,1840,3725,3790,3345,3805,5595,3575,1995,5505,2055,1575,1835,1505]

In [106]:
df_sample = pd.DataFrame(ls_data)
df_sample.value_counts().sort_index()

1500    1
1505    1
1570    1
1575    1
1835    1
1840    1
1995    1
2000    1
2055    1
2360    1
3340    1
3345    1
3575    1
3580    1
3720    1
3725    1
3790    1
3795    1
3800    1
3805    1
5500    1
5505    1
5595    1
5600    1
dtype: int64

In [107]:
max(ls_data)

5600

In [108]:
min(ls_data)

1500

In [109]:
size = (max(ls_data) - min(ls_data)) / 5
size

820.0

In [110]:
out, bins = pd.cut(df_sample[0], 5, retbins=True)

print(bins)
print(bins[1:])

[1495.9 2320.  3140.  3960.  4780.  5600. ]
[2320. 3140. 3960. 4780. 5600.]

In [111]:
intervals = list(zip(bins, bins[1:]))
print(ls_aux)
c_i = [(x + y)/2 for x, y in ls_aux]
print(c_i)

[(7.25986, 7.288), (7.288, 7.316), (7.316, 7.344), (7.344, 7.372), (7.372, 7.4)]
[7.27393, 7.302, 7.33, 7.3580000000000005, 7.386]

In [112]:
df_freq = pd.DataFrame({'l_i':intervals, 'c_i':c_i})
df_freq

                l_i      c_i
0  (1495.9, 2320.0)  7.27393
1  (2320.0, 3140.0)  7.30200
2  (3140.0, 3960.0)  7.33000
3  (3960.0, 4780.0)  7.35800
4  (4780.0, 5600.0)  7.38600

In [113]:
d_intervals = dict(zip(intervals, [0] * len(intervals)))
for num in ls_data:
    for inter in intervals:
        if inter[0] <= num < inter[1]:
            d_intervals[inter] += 1


d_intervals

{(1495.9, 2320.0): 9,
 (2320.0, 3140.0): 1,
 (3140.0, 3960.0): 10,
 (3960.0, 4780.0): 0,
 (4780.0, 5600.0): 3}

In [114]:
df_freq['n_i'] = df_freq['l_i'].map(d_intervals)

N = df_freq['n_i'].sum()

In [115]:
df_freq['f_i'] = df_freq['n_i'] / N
df_freq['F_i'] = df_freq['f_i'].cumsum()
df_freq

                l_i      c_i  n_i       f_i       F_i
0  (1495.9, 2320.0)  7.27393    9  0.391304  0.391304
1  (2320.0, 3140.0)  7.30200    1  0.043478  0.434783
2  (3140.0, 3960.0)  7.33000   10  0.434783  0.869565
3  (3960.0, 4780.0)  7.35800    0  0.000000  0.869565
4  (4780.0, 5600.0)  7.38600    3  0.130435  1.000000

In [116]:
media=df_sample.mean()
media

0    3204.583333
dtype: float64

In [118]:
moda=df_sample.mode()
moda

       0
0   1500
1   1505
2   1570
3   1575
4   1835
5   1840
6   1995
7   2000
8   2055
9   2360
10  3340
11  3345
12  3575
13  3580
14  3720
15  3725
16  3790
17  3795
18  3800
19  3805
20  5500
21  5505
22  5595
23  5600

In [119]:
mediana=df_sample.median()
mediana

0    3460.0
dtype: float64

In [120]:
desviacion_tipica=df_sample.std(ddof=0)
desviacion_tipica

0    1355.242842
dtype: float64

In [121]:
tercer_cuartil=df_freq[df_freq['F_i'] >= 0.75].iloc[0, 0]
tercer_cuartil

(3140.0, 3960.0)

In [122]:
septimo_decil=df_freq[df_freq['F_i'] >= 0.7].iloc[0, 0]
septimo_decil

(3140.0, 3960.0)

In [123]:
centil_25=df_freq[df_freq['F_i'] >= 0.25].iloc[0, 0]
centil_25

(1495.9, 2320.0)